.sbui-dropdown-card .sbui-card-content {
  @apply dark:bg-dark-800 p-0;
  overflow: visible;
  padding: 0;
}

.sbui-dropdown-item {
  @apply px-4 py-1.5 flex items-center space-x-2;
  @apply cursor-pointer;
  @apply focus:bg-bg-secondary-light dark:focus:bg-bg-secondary-dark border-none;
  cursor: 'default';
}

.sbui-dropdown-item svg {
  @apply text-typography-body-secondary-light dark:text-typography-body-secondary-dark;
}

.sbui-dropdown-item:focus-visible {
  border: none;
  outline: none;
}

.sbui-dropdown-item:hover {
  /* @apply focus:ring-1 ring-brand-500; */
  /* outline: 'none'; */
  /* background-color: 'dodgerblue'; */
  color: 'white';
}

.sbui-dropdown-item__content {
  @apply w-full;
}

.sbui-dropdown-checkbox {
  @apply flex items-center space-x-2;
}
