.sbui-btn-container {
  @apply inline-flex rounded-md;
}

.sbui-btn {
  @apply relative cursor-pointer inline-flex space-x-2 text-center border border-solid border-transparent transition ease-out duration-200;
}

.sbui-btn-container--shadow {
  @apply shadow-sm;
}

.sbui-btn--w-full {
  @apply w-full flex items-center justify-center;
}

.sbui-btn:disabled {
  @apply opacity-75 cursor-default;
  pointer-events: none;
}

/*
  Button sizes
*/

.sbui-btn--tiny {
  @apply px-2.5 py-1.5 text-xs font-medium rounded;
}
.sbui-btn--small {
  @apply px-3 py-2 text-sm leading-4 font-medium rounded-md;
}
.sbui-btn--medium {
  @apply px-4 py-2 text-sm font-medium rounded-md;
}
.sbui-btn--large {
  @apply px-4 py-2 text-base font-medium rounded-md;
}
.sbui-btn--xlarge {
  @apply px-6 py-3 text-base font-medium rounded-md;
}

/*
  Button varients
*/
.sbui-btn-primary {
  @apply text-white hover:text-gray-500 bg-brand-700 hover:bg-brand-600 dark:hover:bg-brand-800;
}
.sbui-btn-default {
  @apply text-gray-500 bg-white border-gray-300 hover:text-gray-600 hover:bg-white hover:border-gray-200; 
  @apply dark:border-dark-700 dark:bg-gray-600 dark:text-dark-200;
}
.sbui-btn-secondary {
  @apply text-gray-600 bg-gray-200 hover:text-gray-700 hover:bg-gray-300 dark:text-gray-300 dark:bg-gray-500 dark:hover:text-gray-200;
}
.sbui-btn-outline {
  @apply border text-gray-500 bg-transparent border-gray-200 border-solid hover:bg-white hover:text-gray-600 hover:border-gray-600 dark:text-white dark:border-dark-400 dark:hover:text-dark-600 dark:hover:border-white;
}
.sbui-btn-dashed {
  @apply border text-gray-500 bg-transparent border-gray-200 border-dashed hover:bg-white hover:text-gray-600 hover:border-gray-600 dark:text-white dark:border-dark-400 dark:hover:text-dark-600 dark:hover:border-white;
}
.sbui-btn-ghost {
  @apply text-brand-700 bg-transparent text-brand-700 border-none hover:bg-brand-300 hover:bg-opacity-25;
}

.sbui-btn--danger {
  @apply border-red-500 text-red-500; 
  @apply dark:border-red-500 dark:text-red-500;
}

.sbui-btn-primary.sbui-btn--danger {
  @apply bg-red-500 text-white
}

/* 
  Animation for icon
*/
.sbui-btn--anim--spin {
  @apply stroke-current;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
  Puesdo classes
*/

.btn:focus {
  @apply outline-none ring;
}

.sbui-btn-primary:hover svg {
  @apply text-gray-500;
}
.sbui-btn-secondary:hover svg {
  @apply text-gray-100;
}
.sbui-btn-default:hover svg {
  @apply text-gray-300;
}
.sbui-btn-outline:hover svg {
  @apply text-white;
}
.sbui-btn-ghost:hover svg {
  @apply bg-brand-300;
}

.sbui-btn--with-icon {
  /* @apply pl-10; */
}

.sbui-btn-icon-container {
  @apply inset-y-0 flex items-center pointer-events-none;
}
