.sbui-accordian-container {
  @apply flex flex-col rounded-md;
}

.sbui-accordian-container--bordered {
  @apply bg-white dark:bg-dark-700;
  border: 1px solid #e0e0e0;
}

.dark .sbui-accordian-container--bordered {
  border: 1px solid #2a2a2a;
}

.sbui-accordian-item {
  @apply w-full;
}

.sbui-accordian-item__button {
  @apply flex justify-between w-full text-left cursor-pointer p-2 border-0 font-medium text-base rounded-t-md bg-transparent;

  @apply border-gray-200 text-gray-500 hover:text-gray-600;
  @apply dark:border-gray-600 dark:text-dark-200 dark:hover:text-white;

  font-family: inherit;
  font-weight: inherit;
}

.sbui-accordian-container--bordered .sbui-accordian-item__button--open {
  border-bottom: 1px solid #e0e0e0;
}

.dark .sbui-accordian-container--bordered .sbui-accordian-item__button--open {
  border-bottom: 1px solid #2a2a2a;
}

.sbui-accordian-item__panel {
  @apply w-full p-2;
}
