span.sbui-typography {
  @apply text-sm;
}

.sbui-typography.sbui-typography-secondary {
  @apply text-gray-300;
}

.sbui-typography.sbui-typography-success {
  @apply text-green-500;
}

.sbui-typography.sbui-typography-warning {
  @apply text-yellow-500;
}

.sbui-typography.sbui-typography-danger {
  @apply text-red-500;
}

.sbui-typography.sbui-typography-disabled {
  @apply text-gray-300 dark:text-gray-400;
  /* color: rgba(0,0,0,.25); */
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sbui-typography.sbui-typography-underline {
  @apply underline;
}

.sbui-typography.sbui-typography-strikethrough {
  @apply line-through;
}

.sbui-typography mark {
  padding: 0;
  background-color: #ffe58f;
}

.sbui-typography code {
  /* margin: 0 .2em; */
  padding: .2em .4em .1em;
  /* font-size: 85%; */
  background: hsla(0,0%,58.8%,.1);
  border: 1px solid hsla(0,0%,39.2%,.2);
  border-radius: 3px;
}

.sbui-typography kbd {
  /* margin: 0 .2em; */
  padding: .15em .4em .1em;
  /* font-size: 90%; */
  background: hsla(0,0%,58.8%,.06);
  border: solid hsla(0,0%,39.2%,.2);
  border-width: 1px 1px 2px;
  border-radius: 3px;
}