.sbui-divider {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sbui-divider-style {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sbui-divider-puesdo-style {
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
}

.sbui-divider--no-text {
  @apply sbui-divider-style;
}

.sbui-divider > span {
  @apply text-sm;
  @apply text-gray-300;
  @apply dark:text-dark-400;
  display: inline-block;
  padding: 0 1em;
}

.sbui-divider--left:before {
  @apply sbui-divider-style;
  @apply sbui-divider-puesdo-style;
  width: 5%;
}

.sbui-divider--left:after {
  @apply sbui-divider-style;
  @apply sbui-divider-puesdo-style;
  width: 95%;
}

.sbui-divider--right:before {
  @apply sbui-divider-style;
  @apply sbui-divider-puesdo-style;
  width: 95%;
}

.sbui-divider--right:after {
  @apply sbui-divider-style;
  @apply sbui-divider-puesdo-style;
  width: 5%;
}

.sbui-divider--center:before,
.sbui-divider--center:after {
  @apply sbui-divider-style;
  @apply sbui-divider-puesdo-style;
  width: 50%;
}

.sbui-divider--light.sbui-divider--left:before,
.sbui-divider--light.sbui-divider--left:after,
.sbui-divider--light.sbui-divider--right:before,
.sbui-divider--light.sbui-divider--right:after,
.sbui-divider--light.sbui-divider--center:before,
.sbui-divider--light.sbui-divider--center:after,
.sbui-divider--light.sbui-divider--no-text {
  @apply border-gray-100 dark:border-dark-600;
}

.sbui-divider--light.sbui-divider > span {
  @apply text-gray-200;
  @apply dark:text-dark-800;
}
