@import url('colors.css'); /* Using a url */
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* brand scale */
  --colors-brand1: hsla(153, 80%, 99%, 1);
  --colors-brand2: hsla(148, 88%, 97%, 1);
  --colors-brand3: hsla(148, 76%, 95%, 1);
  --colors-brand4: hsla(148, 68%, 92%, 1);
  --colors-brand5: hsla(148, 59%, 88%, 1);
  --colors-brand6: hsla(149, 43%, 82%, 1);
  --colors-brand7: hsla(149, 43%, 69%, 1);
  --colors-brand8: hsla(154, 55%, 45%, 1);
  --colors-brand9: hsla(153, 60%, 53%, 1);
  --colors-brand10: hsla(153, 50%, 50%, 1);
  --colors-brand11: hsla(153, 50%, 34%, 1);
  --colors-brand12: hsla(153, 40%, 12%, 1);

  --colors-brand-hiContrast: var(--colors-brand-9);
  --colors-brand-loContrast: var(--colors-brand-4);

  /* brand scale fixed */
  --colors-brand-fixed1: var(--colors-brand1);
  --colors-brand-fixed2: var(--colors-brand2);
  --colors-brand-fixed3: var(--colors-brand3);
  --colors-brand-fixed4: var(--colors-brand4);
  --colors-brand-fixed5: var(--colors-brand5);
  --colors-brand-fixed6: var(--colors-brand6);
  --colors-brand-fixed7: var(--colors-brand7);
  --colors-brand-fixed8: var(--colors-brand8);
  --colors-brand-fixed9: var(--colors-brand9);
  --colors-brand-fixed10: var(--colors-brand10);
  --colors-brand-fixed11: var(--colors-brand11);
  --colors-brand-fixed12: var(--colors-brand12);

  /* border scale */
  --colors-scale1: var(--colors-gray1);
  --colors-scale2: var(--colors-gray2);
  --colors-scale3: var(--colors-gray3);
  --colors-scale4: var(--colors-gray4);
  --colors-scale5: var(--colors-gray5);
  --colors-scale6: var(--colors-gray6);
  --colors-scale7: var(--colors-gray7);
  --colors-scale8: var(--colors-gray8);
  --colors-scale9: var(--colors-gray9);
  --colors-scale10: var(--colors-gray10);
  --colors-scale11: var(--colors-gray11);
  --colors-scale12: var(--colors-gray12);

  --colors-overlay-bg: var(--colors-scale1);
  --colors-overlay-bg-accent: var(--colors-scale2);
  --colors-overlay-border: var(--colors-scale4);

  --colors-overlay-secondary-bg: var(--colors-scale1);
  --colors-overlay-secondary-bg-accent: var(--colors-scale2);
  --colors-overlay-secondary-border: var(--colors-scale3);

  /* border scale fixed*/
  --colors-scale-fixed1: var(--colors-scale1);
  --colors-scale-fixed2: var(--colors-scale2);
  --colors-scale-fixed3: var(--colors-scale3);
  --colors-scale-fixed4: var(--colors-scale4);
  --colors-scale-fixed5: var(--colors-scale5);
  --colors-scale-fixed6: var(--colors-scale6);
  --colors-scale-fixed7: var(--colors-scale7);
  --colors-scale-fixed8: var(--colors-scale8);
  --colors-scale-fixed9: var(--colors-scale9);
  --colors-scale-fixed10: var(--colors-scale10);
  --colors-scale-fixed11: var(--colors-scale11);
  --colors-scale-fixed12: var(--colors-scale12);
  /* background scale */
  --colors-background1: hsla(210, 33%, 99%, 1);
  --colors-background2: hsla(210, 17%, 98%, 1);
  --colors-background3: hsla(210, 17%, 95%, 1);
  --colors-background4: hsla(210, 12%, 93%, 1);
  --colors-background5: hsla(216, 11%, 91%, 1);
  --colors-background6: hsla(206, 12%, 89%, 1);
  --colors-background7: hsla(210, 11%, 86%, 1);
  --colors-background8: hsla(205, 11%, 78%, 1);
  --colors-background9: hsla(206, 6%, 56%, 1);
  --colors-background10: hsla(206, 6%, 52%, 1);
  --colors-background11: hsla(206, 6%, 44%, 1);
  --colors-background12: hsla(202, 24%, 9%, 1);

  /* radix colors */

  --colors-radix-collapsible-content-height: 1px;
}

.dark {
  /* brand scale */
  --colors-brand1: hsla(153, 75%, 6%, 1);
  --colors-brand2: hsla(153, 73%, 7%, 1);
  --colors-brand3: hsla(154, 69%, 9%, 1);
  --colors-brand4: hsla(154, 67%, 11%, 1);
  --colors-brand5: hsla(154, 66%, 13%, 1);
  --colors-brand6: hsla(154, 64%, 17%, 1);
  --colors-brand7: hsla(154, 62%, 22%, 1);
  --colors-brand8: hsla(153, 60%, 28%, 1);
  --colors-brand9: hsla(153, 60%, 53%, 1);
  --colors-brand10: hsla(153, 60%, 70%, 1);
  --colors-brand11: hsla(153, 60%, 50%, 1);
  --colors-brand12: hsla(153, 60%, 95%, 1);
  /* border scale */
  /* --scale1: hsla(200, 7%, 9%, 1);
  --colors-scale2: hsla(195, 7%, 11%, 1);
  --colors-scale3: hsla(192, 7%, 14%, 1);
  --colors-scale4: hsla(204, 6%, 16%, 1);
  --colors-scale5: hsla(200, 7%, 18%, 1);
  --colors-scale6: hsla(206, 7%, 21%, 1);
  --colors-scale7: hsla(203, 6%, 24%, 1);
  --colors-scale8: hsla(207, 6%, 32%, 1);
  --colors-scale9: hsla(206, 6%, 44%, 1);
  --colors-scale10: hsla(208, 5%, 50%, 1);
  --colors-scale11: hsla(207, 6%, 63%, 1);
  --colors-scale12: hsla(210, 6%, 93%, 1); */

  /* 
-gray
-gray
  slate
  sage
  olive
  sand 
  */
  --colors-scale1: var(--colors-gray1);
  --colors-scale2: var(--colors-gray2);
  --colors-scale3: var(--colors-gray3);
  --colors-scale4: var(--colors-gray4);
  --colors-scale5: var(--colors-gray5);
  --colors-scale6: var(--colors-gray6);
  --colors-scale7: var(--colors-gray7);
  --colors-scale8: var(--colors-gray8);
  --colors-scale9: var(--colors-gray9);
  --colors-scale10: var(--colors-gray10);
  --colors-scale11: var(--colors-gray11);
  --colors-scale12: var(--colors-gray12);

  --colors-overlay-bg: var(--colors-scale2);
  --colors-overlay-bg-accent: var(--colors-scale3);
  --colors-overlay-border: var(--colors-scale4);

  --colors-overlay-secondary-bg: var(--colors-scale3);
  --colors-overlay-secondary-bg-accent: var(--colors-scale4);
  --colors-overlay-secondary-border: var(--colors-scale5);

  /* background scale */
  --colors-background1: hsla(200, 7%, 9%, 1);
  --colors-background2: hsla(195, 7%, 11%, 1);
  --colors-background3: hsla(192, 7%, 14%, 1);
  --colors-background4: hsla(204, 6%, 16%, 1);
  --colors-background5: hsla(200, 7%, 18%, 1);
  --colors-background6: hsla(206, 7%, 21%, 1);
  --colors-background7: hsla(203, 6%, 24%, 1);
  --colors-background8: hsla(207, 6%, 32%, 1);
  --colors-background9: hsla(206, 6%, 44%, 1);
  --colors-background10: hsla(208, 5%, 50%, 1);
  --colors-background11: hsla(207, 6%, 63%, 1);
  --colors-background12: hsla(210, 6%, 93%, 1);

  /* radix colors */
}

.dark,
.light {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.dark,
.light,
.light .docs-story,
.dark .docs-story {
  @apply bg-scale-200;
  /* background: #181818; */
}
