.sbui-avatar {
    @apply rounded-full;
}

.sbui-avatar-type-rounded {
    border-radius: 10%;
}

.sbui-avatar-type-square {
    border-radius: 0;
}

.sbui-avatar-image {
    objectFit: 'contain';
    borderRadius: '50%';
}

.sbui-avatar-children {
    @apply flex;
    @apply justify-center;
    @apply items-center
}

.sbui-avatar-text {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    float: left;
    height: 42px;
    width: 42px;
}

.sbui-avatar-fallback {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    height: 42px;
    width: 42px;
}

.sbui-avatar-single {

}

.sbui-avatar-multiple {

}

.sbui-image-responsive {
    width: 100%;
    height: auto;  
}