.sbui-avatar-type-rounded {
    @apply rounded-full;
}

.sbui-avatar-type-square {
    @apply rounded-none;
}

.sbui-avatar-image {
    object-fit: 'contain';
    border-radius: '50%';
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-children {
    @apply flex;
    @apply justify-center;
    @apply items-center
}

.sbui-avatar-icon {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-text {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    float: left;
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-fallback {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-single {

}

.sbui-avatar-group {
    @apply flex;
}

.sbui-avatar-group-horizontal {
    @apply flex-row;
}

.sbui-avatar-group-vertical {
    @apply flex-col;
}

.sbui-image-responsive {
    width: 100%;
    height: auto;  
}
