.sbui-breadcrumbs--container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sbui-breadcrumbs--item {
  @apply text-gray-500 hover:text-gray-600;
  @apply dark:text-dark-200 dark:hover:text-white;

  font-family: inherit;
  font-weight: inherit;
}
.sbui-breadcrumbs--separator {
  @apply mx-2;

  @apply text-gray-500 hover:text-gray-600;
  @apply dark:text-dark-200 dark:hover:text-white;
}
