.sbui-toggle {
  @apply p-0 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer;
  @apply transition-colors ease-in-out duration-200;
  @apply focus:outline-none bg-gray-200 dark:bg-gray-400;
}

.sbui-toggle--active {
  @apply bg-brand-600;
  @apply dark:bg-brand-600;
}

.sbui-toggle__handle {
  @apply inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200 translate-x-0;
}

.sbui-toggle__handle--active {
  @apply translate-x-5;
}
